<div class="page transactions">
    <h2>Transactions</h2>

    <div class="transactions_table">


        <h3>Here's a table of your logged transactions</h3>

        <table>
            <th scope="col">
                <tr>
                    <div class="table_heading">
                        <td class="thead">Date</td>
                        <td class="thead">Category</td>
                        <td class="thead">Vendor</td>
                        <td class="thead">Amount spent</td>
                        <td class="thead">Delete</td>
                    </div>
                </tr>
            </th>
            <tbody>
                <% @transactions.each do |transaction| %>
                <tr>
                    <td><%=transaction.purchase_date()%></td>
                    <td><%=(Category.find(transaction.category_id)).name()%></td>
                    <td><%=(Vendor.find(transaction.vendor_id)).name()%></td>
                    <td>$<%=transaction.amount_spent%></td>
                    <td><form action="/moneycashboard/transaction-deleted/<%=transaction.id%>" method="post"><input type="submit" value="Delete"></form></td>
                </tr>
                <%end%>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="total">Total spent</td>
                    <% @total = [] %>
                    <% @transactions.each do |transaction| %>
                    <% @total << transaction.amount_spent.to_f%>
                    <%end%>
                    <td class="total">$<%=@total.sum()%></td>
                    <td></td>
                </tr>
            </tbody>

        </table>
    </div>

</div>
